/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

th {
    background-color: #bbe7f0;
}

th {
    font-weight: bold;
}

th, td {
    padding: 5px;
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

h2 {
    margin-top: 30px;
}

body {
    margin: 40px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6;
    background-color: #f2f8fa;
}

main {
    margin: auto;
    max-width: 1000px;
}

code {
    font-family: 'Fira Code', monospace;
    font-size: 13px;
}
